@keyframes pulsy {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes progress {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -120px;
    }
}
@keyframes rotate-360 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
