@font-face {
    font-family: 'Codec Pro';
    src: local('Codec Pro Light'), local('CodecPro-Light'), url('~assets/fonts/Codec/CodecPro-Light.woff2') format('woff2'), url('~assets/fonts/Codec/CodecPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Pro';
    src: local('Codec Pro Bold'), local('CodecPro-Bold'), url('~assets/fonts/Codec/CodecPro-Bold.woff2') format('woff2'), url('~assets/fonts/Codec/CodecPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
