*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class] {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body,
h1,
h2,
h3,
h4,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

a:not([class]) {
    text-decoration-skip-ink: auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select,
label {
    font: inherit;
}

select,
textarea,
input {
    width: 100%;
}

html, body {
    font-size: 16px;
    line-height: 1.4;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    font-family: $font-main;
    font-size: $root-font-size;
    color: $color-text;
    background-color: $color-white;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    @include rhythm($font-size);
    line-height: 1.4;
}
