.grid-container {
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
}

.grid-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gap;
    margin-right: -$grid-gap;
    @include media-breakpoint-down(sm) {
        margin-left: -$grid-gap-small;
        margin-right: -$grid-gap-small;
    }
}
.grid-list_flex_end {
    justify-content: flex-end;
}
.grid-list_space-between {
    justify-content: space-between;
}
.grid-list_align-center {
    align-items: center;
}

.grid-item {
    padding-left: $grid-gap;
    padding-right: $grid-gap;
    @include media-breakpoint-down(sm) {
        padding-left: $grid-gap-small;
        padding-right: $grid-gap-small;
    }
}
.grid-item_flex {
    display: flex;
}

@for $i from 0 through $grid-columns-count {
    .grid-item_#{$i}x {
        flex: 0 0 ($i / $grid-columns-count) * 100%;
        max-width: ($i / $grid-columns-count) * 100%;
    }
}

@each $name, $size in $media-sizes {
    @media (max-width: $size) {
        @for $i from 0 through $grid-columns-count {
            .#{$name}\:grid-item_#{$i}x {
                flex: 0 0 ($i / $grid-columns-count) * 100%;
                max-width: ($i / $grid-columns-count) * 100%;
            }
        }
    }
}
