$color-black-900: #000000;

$color-white-900: #FFFFFF;

$color-green-500: #42B54E;

$color-red-900: #FF0000;

$color-blue-500: #4959FF;

// Color scheme
$color-black: $color-black-900;
$color-white: $color-white-900;
$color-text: $color-black-900;
$color-link: $color-blue-500;
$color-danger: $color-red-900;
$color-success: $color-green-500;

// Transitions
$transition-long: .65s cubic-bezier(.16,.16,.40,.82);
$transition-main: .3s cubic-bezier(.16,.16,.40,.82);
$transition-fast: .18s cubic-bezier(.16,.16,.40,.82);

// Font
$font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-codec: "Codec Pro";
$font-main: $font-codec, $font-fallback;
$root-font-size: 10px;
$font-size: 16px;

//grid
$container-max-width: 1280px;
$grid-columns-count: 12;
$grid-gap: 16px;
$grid-gap-small: 6px;

//media
$media-xl: 1600px;
$media-lg: 1280px;
$media-md: 992px;
$media-sm: 767px;
$media-xs: 576px;
$media-xxs: 420px;

$media-sizes: ('xl': $media-xl, 'lg': $media-lg, 'md': $media-md, 'sm': $media-sm, 'xs': $media-xs, 'xxs': $media-xxs);
